* {font-family: 'Trebuchet MS', sans-serif;}
:root {
 --blue: rgba(168, 163, 217, 0.993);
 --gray: rgb(156, 106, 59);
}

body {
  display: block;
}
 header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: linear-gradient(rgb(71, 71, 240),rgb(104, 142, 202)) ;
 
}

header  h1{
color: var(--gray);
font-size: 45px;
padding-top: 40px;
padding-left: 50px;
}

nav  {
  display: flex ;
  flex-grow: 1;
  flex-direction: row;
 flex-wrap: wrap;
 justify-content:flex-end ;
  padding-top: 20px;

 }
 a {
  text-decoration: none;
  color: aquamarine;
  padding: 30px;
  padding-top: 45px;
  font-size: 35px;
 }

 .avatar {
  max-width: 20%;
  height: auto;
  float: left;
  padding-right: 20px;

}

.slogan {
font-size: 300%;
padding-left: 20px;
padding-top: 7%;
color: rgba(53, 66, 70, 0.644);
}


.intro {
  background-image:url('../images/view.jpg');
  height: 900px;
  width:auto ;
  background-size: cover;
  background-position: center;
  display: block;
  
}

#aboutme {
  padding-left: 300px;
  padding-bottom: 10px;
  padding-right: 50px;
   padding-top: 10px;
  text-align: right;
  font-size: 1.5rem;
  background-image: linear-gradient(to top, rgb(71, 71, 240),rgb(104, 142, 202)) ;
  color: antiquewhite;
  text-shadow: 0 0 5px rgb(255, 252, 47);

}
#projects{ 
  font-size:35px;
  color:wheat ;
  padding: 10px; 
  text-align: center;
  background-image:linear-gradient( to right, rgb(16, 187, 178), rgb(129, 37, 37));
}
.cards {
  display: grid;
  grid-template-columns:repeat(2,1fr);
  background-image: linear-gradient( to right, rgb(16, 187, 178), rgb(129, 37, 37));
}
.cards a img{
  height: auto;
  max-width: 100%;
  min-width: 0;
  width: 90%;
  padding: 20px;

}
.container{
  position: relative;
}
 .container .btn {
 position: absolute;
  top: 65%;
  left: 5%;
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;

}

.contact  p{
  background-color: yellowgreen ;
  text-align: center;
  font-size: 25px;
  color: rgb(97, 97, 66);
}
.contact form {
  text-align: center  ;
  padding: 10px;
  font-size: 20px;
  background-color: bisque;
}
 footer {
  background-color: rgb(157, 122, 190);
  font-size:  25px; 
  text-align: center;
  padding: 10px;
  
 }
nav  a:hover {
  color: rgb(53, 184, 204);

 }
.cards img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 1rem rgb(7, 220, 60));

 }
 
 @media screen and (max-width: 992px  ) {
  header {display: flex;
    justify-content: flex-start;
    flex-direction: column;}
  .cards
   {display: flex;
    flex-direction: column;
   }
}
@media screen and (max-width: 768px) {
header {display: flex;
  flex-direction: column;}
  nav {flex-direction: column;}
.cards
   {display: flex;
    flex-direction: column;
  }
}